/* App.css */

.App {
  text-align: center;
}

/* Global page wrapper to give padding from edges */
.page-wrapper {
  padding: 0 1rem;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: larger;
  justify-content: space-around;
}

.nav-link {
  
  border-bottom: 2px color(rgb(19, 19, 68)); 
  padding: 10px;
  color: rgb(19, 19, 68); /* Change text color to black */
  text-decoration: none;
  transition: all 0.3s ease;
  background-color: #ffffff; /* Adjust background color */
}

.nav-link:hover {
  color: #00eeff; /* Light blue on hover */
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.tech-card {
  flex: 0 0 calc(20% - 20px); /* Adjust the flex value to make the grid smaller */
  margin: 10px;
  padding: 20px;
  background-color: white; /* Card color is white */
  border-radius: 8px;
  text-align: center;
  color: black; /* Change text color to black */
  transition: all 0.3s ease;
}

.tech-card:hover {
  background-color: #e6f7ff; /* Light blue on hover */
}

.tech-icon {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}
.email-copy-button{
  font-weight: 600;
  font-size: large;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.project {
  flex: 0 0 calc(33.333% - 20px);
  margin: 10px;
 
  background-color: white; /* Card color is white */
  border-radius: 8px;
  
  text-align: center;
  color: black; /* Change text color to black */
  transition: all 0.3s ease;
  border: 2px solid #282c34;
}
@media screen and (max-width: 600px) {
  .project {
    flex-basis: calc(95%); /* Adjust flex-basis for smaller screens */
  }
}
.project:hover {
  background-color: #e6f7ff; /* Light blue on hover */
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.email-copy-button {
  background-color: transparent;
  border: none;
  color: black; /* Change text color to black */
  cursor: pointer;
  transition: all 0.3s ease;
}

.email-copy-button:hover {
  color: #61dafb;
}



.experience,
.testimonial {
  flex: 0 0 calc(50% - 70px); /* Set the flex basis to 50% with margin accounted for */
  margin: 20px 0;
  margin: 20px auto; /* Center the cards horizontally */
  padding: 20px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 0.5s ease forwards;
  max-width: 500px; /* Set maximum width */
  width: 80%;
  transition: all 0.3s ease;
}

.testimonial {
  animation-name: slideInLeft;
}

.experience:hover{
  background-color: #40eb82;
}
.testimonial:hover{
  background-color: #45d470;
}
.experience p {
  margin-bottom: 10px; /* Add margin between paragraphs */
}

.experience ul {
  padding-left: 20px; /* Adjust padding for list items */
}

.experience li {
  margin-bottom: 5px; /* Add margin between list items */
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Keyframes for testimonial card */
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-image {
  width: 200px; /* Adjust size as needed */
  height: 300px; /* Adjust size as needed */
  margin-bottom: 20px;
  border-radius: 1.2rem;
  animation: fadeInUp 0.5s ease forwards;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin:10px 20px;
}

.social-icons a {
  color: #333;
  font-size: 24px;
  margin: 0 10px;
}
.contact-info{
  display: flex;
 justify-content: center;
}
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
}
.flex-top{
  font-size: large;
  font-weight: 500;
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.predict-text {
  opacity: 0;
  filter: blur(4px);
}

.predict-text:nth-child(1) {
  animation: fade-in 1.5s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.predict-text:nth-child(2) {
  animation: fade-in 1.5s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.predict-text:nth-child(3) {
  animation: fade-in 1.5s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.predict-text:nth-child(4) {
  animation: fade-in 1.5s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.predict-text:nth-child(5) {
  animation: fade-in 1.5s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.predict-text:nth-child(6) {
  animation: fade-in 1.5s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.predict-text:nth-child(7) {
  animation: fade-in 1.5s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.predict-text:nth-child(8) {
  animation: fade-in 1.5s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.predict-text:nth-child(9) {
  animation: fade-in 1.5s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.predict-text:nth-child(10) {
  animation: fade-in 1.5s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.predict-text:nth-child(11) {
  animation: fade-in 1.5s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.predict-text:nth-child(12) {
  animation: fade-in 1.5s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.predict-text:nth-child(13) {
  animation: fade-in 1.5s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.predict-text:nth-child(14) {
  animation: fade-in 1.5s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

/* Add more nth-child styles as needed */

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.about-section {
  display: flex;
  align-items: center;
  padding: 3rem;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: white;
}

.profile-image {
  border-radius: 50%;
  width: 150px;
  margin-right: 2rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border-radius: 8px;
}

.contact-form button {
  background-color: #2c5364;
  color: white;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

